.profile__btn-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    grid-area: foto;
    margin: 0 auto;
    border: 0;
    opacity: 0;
    transition: opacity 1s ease;
    background: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/profile_avatar.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    z-index: 1;
}

.profile__btn-avatar:hover {
    opacity: 1;
}